<nav class="navbar navbar-light" style="background-color: hsl(48, 100%, 67%);">
  <a class="navbar-brand" href="#">
    {{ title }}
  </a>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2>
        Get the lastest news about Cryptocurrencies 📈
      </h2>
      <h3>
        Thanks to <a target="_blank" href="https://coinmarketcap.com/">Coinmarketcap.com</a>
      </h3>
    </div>
  </div>
</section>

<div class="container">
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Max</th>
        <th>Market Cap</th>
        <th>Change (24H)</th>
        <th>Circulating</th>
      </tr>
    </thead>
    <tbody *ngFor="let coin of coins">
      <tr>
        <th scope="row">#{{ coin.rank }}</th>
        <th>{{ coin.symbol }}</th>
        <th class="is-primary">{{ coin.name }}</th>
        <th class="is-success">${{ coin.price_usd }} USD</th>
        <th>{{ coin.max_supply }}</th>
        <th>${{ coin.market_cap_usd }}</th>
        <th class="is-danger">{{ coin.percent_change_24h }}%</th>
        <th>{{ coin.available_supply }} {{ coin.symbol }}</th>
      </tr>
    </tbody>
  </table>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p> Made with ❤️ by @jesussandrea12</p>
    </div>
  </div>
</footer>
